# Lab Assignment 2 â€“ Julia Stewart
## Student Number: **200017610**
### *https://github.com/JuliaStewart111/PY4SA23_Assignment.git*

## **Task 1:** If... Else statement Divisible by Three

##### This function tests whether a value (number) is divisible by three. **"YOUR VALUE is divisible by 3"** is printed if the value (n) is divisible by three. **"YOUR VALUE is not divisible by three"** is printed if the value (n) is not divisible by three. The statement is tested with the numeric value 6, as seen below. With the printed value replaced with the n value being tested number.

In [6]:
n = 6

if n % 3 == 0:
    print(n, "is divisible by three")

else:
    print(n, "is not divisible by three")

6 is divisible by three

## **Task 2:** If...Else statement that will test whether a type of fruit, represented as a text string,

##### This function will show a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry). If the fruit is on the list, this will be seen **"YOUR FRUIT is acceptable."** If the fruit is not present then this will be seen **" YOUR FRUIT is not acceptable."** The fruit tested will replace the "YOUR FRUIT"

In [14]:
Fruit = [
    'apple',
    'orange',
    'blueberry',
    'strawberry',
    'Kiwi'
]

i= "Kiwi" 
if i in Fruit:
    print(i, "is acceptable")
else:
    print(i, "is not acceptable")

Kiwi is acceptable

## **Task Three:** Function to calculate distance between two coordinates using haversine formula.

In [30]:
##T3: Create a function to calculate the distance between two coordinates using the haversine
##formula. Write the following formula where the input parameters are a pair of coordinates as two
##lists.
#two lists of coordinates 
from math import sin, cos, atan2, radians
A= [radians(55.9533), radians(3.1883)] 
B= [radians(57.1499), radians(2.0938)]

def functa(A,B):
    return sin(B[0] - A[0]/2)**2 + cos(A[0]) * cos(B[0]) * sin(B[1] - A[1]/2)**2
a = functa(A,B)
print("a=", functa(A,B))

def functc(a):
    return 2 * atan2(a**0.5, (1 - a)**0.5)
c= functc(a)
print("c =", functc(a))

R = 6371
Distance = R * c
print("Result: ", Distance)

a= 0.23763260565995395
c = 1.0183927930031569
Result:  6488.180484223112

## Pandas and NumPy Part 2
### **Question 1**
#### How many trees are of the Quercus or Acer genus?

In [15]:
## Import appropriate packages
import pandas as pd
import numpy as np
file = pd.read_csv('data\portland_park_trees.csv') ##add the required data set
file.head()

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

In [55]:
# Select the two required genus 
#Calculate number of trees in those genus
df = pd.read_csv('data\portland_park_trees.csv')
trees = ['Quercus', 'Acer']
df['Genus'].isin(trees).sum()
#5675 (total amount of trees within the Quercus and Acer category)

5675

### Question 2
#### How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [87]:
df = pd.read_csv('data\portland_park_trees.csv')
QA = ['Quercus', 'Acer']
fifty_df = df.loc[(df.DBH >50)]
print("Number of Quercus and Acer trees with DBH > 50 is", fifty_df['Genus'].isin(QA).sum())

Number of Quercus and Acer trees with DBH > 50 is 124

## Question 3

#### Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [105]:
Atree = ['Acer']
Acermean = df["DBH"][df['Genus'].isin(Atree)].mean()
print ("Acer mean DBH:", Acermean, "inches")

Qtree = ['Quercus']
Quercusmean = df["DBH"][df['Genus'].isin(Qtree)].mean()
print ("Quercus mean DBH:", Quercusmean, "inches")

Ftree = ['Fraxinus']
Fraxinusmean = df["DBH"][df['Genus'].isin(Ftree)].mean()
print ("Fraxinus mean DBH:", Fraxinusmean, "inches")

Means = [Quercusmean, Acermean, Fraxinusmean]

if max(Means) == Quercusmean:
    print ("Quercusmean mean DBH is highest:",max(Means), "inches")
    
else:
    if max(Means) == Fraxinusmean:
        print ("Fraxinusmean mean DBH is highest:",max(Means))
    
    else:
        print ("Acermean DBH is highest:",max(means))

Acer mean DBH: 18.419085331846066 inches
Quercus mean DBH: 23.56823839157492 inches
Fraxinus mean DBH: 11.033609693877551 inches
Quercusmean mean DBH is highest: 23.56823839157492 inches

## Question 4

#### How many different species of trees are recorded in the Acer genus?

In [114]:
Acer_df = df.loc[(df['Genus'] == 'Acer')]
Acer_df['Species'].nunique()
print ("There are ", Acer_df['Species'].nunique(), "species in the Acer genus")

There are  20 species in the Acer genus